<%-include("head")%>

<body>
    <h1>ID: <%= user.id %></h1><br>
    <h1>Hello <%= user.username %></h1>
    <h1>Specialty <%= user.specialty %></h1>

    <a href="/logout">Logout</a><br>
    <a href="/profile">Profile</a>
</body>
</html>