<div class="main">
    <nav class="navbar navbar-expand border-bottom">
        <button class="toggler-btn" type="button">
            <i class="lni lni-menu-hamburger-1"></i>
        </button>
    </nav>
    <main class="p-3">
        <div id="main-content" class="container-fluid">