<div class="d-flex">
    <aside id="sidebar" class="sidebar-toggle">
        <div class="sidebar-logo">
            <a href="/home"><img id="logo" src="logo.png" alt="logo" width="120px"></a>
        </div>
        <!-- Side Bar Nav -->
        <ul class="sidebar-nav p-0">
            <li class="sidebar-header" style="color:white; font-size: 16px; text-shadow: 2px 2px black;">
                เมนู
            </li>
            <li class="sidebar-item">
                <a href="/schedule" class="sidebar-link">
                    <i class="lni lni-calendar-days"></i>
                    <span>ตารางงาน</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="/doctor_appointment" class="sidebar-link">
                    <i class="lni lni-notebook-1"></i>
                    <span>นัดหมายคนไข้</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="/doctor_history" class="sidebar-link">
                    <i class="lni lni-hourglass"></i>
                    <span>ประวัติการรักษา</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/logout" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>ออกจากระบบ</span>
                </a>
            </li>
        </ul>
    </aside>


    <!-- <div class="mb-3 text-center">
                    Test
                </div> -->