<div class="d-flex">
    <aside id="sidebar">
        <div class="sidebar-logo">
            <a href="#">Logo</a>
        </div>
        <!-- Side Bar Nav -->
         <ul class="sidebar-nav p-0">
            <li class="sidebar-header">
                Menu
            </li>
            <li class="sidebar-item">
                <a href="/doctor_home" class="sidebar-link">
                    <i class="lni lni-calendar-days"></i>
                    <span>Schedule</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="/doctor_appointment" class="sidebar-link">
                    <i class="lni lni-notebook-1"></i>
                    <span>Appointment</span>
                </a>
            </li>
            
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-hourglass"></i>
                    <span>History</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/logout" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </li>
         </ul>
    </aside>

   
                <!-- <div class="mb-3 text-center">
                    Test
                </div> -->


