<div class="d-flex">
    <aside id="sidebar">
        <div class="sidebar-logo">
            <img src="logo.png" alt="logo" width="100px">
        </div>
        <!-- Side Bar Nav -->
         <ul class="sidebar-nav p-0">
            <li class="sidebar-header">
                Menu
            </li>
            <li class="sidebar-item">
                <a href="/showservices" class="sidebar-link">
                    <i class="lni lni-calendar-days"></i>
                    <span>Manage Service</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/manage-staff" class="sidebar-link">
                    <i class="lni lni-notebook-1"></i>
                    <span>Manage Doctor</span>
                </a>
            </li>
            
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-hourglass"></i>
                    <span>Records</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/logout" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </li>
         </ul>
    </aside>

   
                <!-- <div class="mb-3 text-center">
                    Test
                </div> -->


