<div class="d-flex">
    <aside id="sidebar">
        <div class="sidebar-logo">
            <a href="/showservices"><img src="logo.png" alt="logo" width="100px"></a>
        </div>
        <!-- Side Bar Nav -->
         <ul class="sidebar-nav p-0">
            <li class="sidebar-header">
                เมนู
            </li>
            <li class="sidebar-item">
                <a href="/showservices" class="sidebar-link">
                    <i class="lni lni-calendar-days"></i>
                    <span>จัดการข้อมูลบริการ</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/manage-staff" class="sidebar-link">
                    <i class="lni lni-notebook-1"></i>
                    <span>จัดการข้อมูลแพทย์</span>
                </a>
            </li>
            
            <li class="sidebar-item">
                <a href="/doctor_history" class="sidebar-link">
                    <i class="lni lni-hourglass"></i>
                    <span>Records</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/logout" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>ออกจากระบบ</span>
                </a>
            </li>
         </ul>
    </aside>




