<div class="d-flex">
    <aside id="sidebar">
        <div class="sidebar-logo">
            <a href="/home"><img src="logo.png" alt="logo" width="100px"></a>
        </div>
        <!-- Side Bar Nav -->
         <ul class="sidebar-nav p-0">
            <li class="sidebar-header">
                เมนู
            </li>
            <li class="sidebar-item">
                <a href="/" class="sidebar-link">
                    <i class="lni lni-home-2"></i>
                    <span>หน้าหลัก</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/queue" class="sidebar-link">
                    <i class="lni lni-notebook-1"></i>
                    <span>รายการบริการ</span>
                </a>
            </li>
            <li id="schedule" class="sidebar-item">
                <a href="/schedule" class="sidebar-link">
                    <i class="lni lni-calendar-days"></i>
                    <span>Schedule</span>
                </a>
            </li>
            <li id="history" class="sidebar-item">
                <a href="/history" class="sidebar-link">
                    <i class="lni lni-hourglass"></i>
                    <span>History</span>
                </a>
            </li>
            <li id="profile" class="sidebar-item">
                <a href="/profile" class="sidebar-link">
                    <i class="lni lni-user-4"></i>
                    <span>โปรไฟล์</span>
                </a>
            </li>
            <li id="logout" class="sidebar-item">
                <a href="/logout" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>ออกจากระบบ</span>
                </a>
            </li>
            <li id="login" class="sidebar-item" hidden>
                <a href="/login" class="sidebar-link">
                    <i class="lni lni-enter"></i>
                    <span>เข้าสู่ระบบ</span>
                </a>
            </li>
         </ul>
    </aside>
    <script>
        var isLoggedin = <%= user.isLoggedin %>;
        if(isLoggedin){
            document.getElementById("schedule").removeAttribute("hidden");
            document.getElementById("history").removeAttribute("hidden");
            document.getElementById("logout").removeAttribute("hidden");
            document.getElementById("profile").removeAttribute("hidden");
            document.getElementById("login").setAttribute("hidden", true);
        }else{
            document.getElementById("schedule").setAttribute("hidden", true);
            document.getElementById("history").setAttribute("hidden", true);
            document.getElementById("logout").setAttribute("hidden", true);
            document.getElementById("profile").setAttribute("hidden", true);
            document.getElementById("login").removeAttribute("hidden");
        }
    </script>

   
                <!-- <div class="mb-3 text-center">
                    Test
                </div> -->


